<div>
    <f:form action="purgeLocalCache">
        <fieldset>
            <legend>Purge local cache</legend>
            <div class="neos-row">
                <div class="neos-span5">
                    <div>
                        <f:form.textfield name="path" value="{localCachePath}" disabled="true" class="neos-span3" />
                        <f:form.submit class="neos-button neos-button-primary" value="Purge" />
                    </div>
                </div>
            </div>
        </fieldset>
    </f:form>
</div>
